@model auditSystem.Models.RoleViewModel
@{
    // ViewData["title"] = "Mantenimiento";
}
<h4>@ViewData["title"] </h4>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12 d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-table"></i> Volver a
                        listado</a>
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>

            </div>

        </form>
    </div>
</div>