@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    // ViewData["title"] = "Index";
}

<h4>
    <h4>@ViewData["title"] </h4>
</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                <a class="btn btn-outline-success" asp-action="CreateRole"><i class="fa fa-plus-square"></i> Añadir
                    nuevo</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>

                <td>

                </td>
            </tr>
        }
    </tbody>
</table>